<!DOCTYPE html>
<html lang="en">
<head>
  <title>Good Music - Good Feeling</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ static_root }}/css/bootstrap.min.css">
  <script>
    window.deezer_downloader_api_root = '{{ api_root }}';
    window.deezer_is_working = '{{ deezer_is_working }}';
  </script>
  <script src="{{ static_root }}/js/jquery.min.js"></script>
  <script src="{{ static_root }}/js/popper.min.js"></script>
  <script src="{{ static_root }}/js/bootstrap.min.js"></script>
  <script>
      var show_mpd_features = {{ use_mpd }};
  </script>
  <script src="{{ static_root }}/js/jquery.ddslick.min.js"></script>
  <script src="{{ static_root }}/js/custom.js"></script>
  <script src="{{ static_root }}/js/jquery.jgrowl.min.js"></script>
  <link rel="stylesheet" href="{{ static_root }}/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="{{ static_root }}/css/jquery.jgrowl.min.css" />
  <link rel="stylesheet" type="text/css" href="{{ static_root }}/css/pretty-checkbox.min.css" />

<style>
    .footer {
      position: fixed;
      bottom: 0;
      width: 80%;
      left: 10%;
      height: 40px;
      background-color: #f5f5f5;
      text-align: center;
    }
		#input_group {
		 align: vertical ; 
		}
		#results_blogs td {
				//border: solid red;
		}
		td.deezer_result{
			 	//display: inline;
				white-space: nowrap;
		}
		div.blog_entry_name{
				//overflow-wrap: normal;
				//border: solid black;
		}
</style>

</head>
<body id="body" >
				<script>
								function sortTable(n, id) {
												  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
												  table = document.getElementById(id);
												  switching = true;
												  // Set the sorting direction to ascending:
												  dir = "asc";
												  /* Make a loop that will continue until
												  no switching has been done: */
																  while (switching) {
																					    // Start by saying: no switching is done:
																					    switching = false;
																					    rows = table.rows;
																					    /* Loop through all table rows (except the
																											    first, which contains table headers): */
																									    for (i = 1; i < (rows.length - 1); i++) {
			      // Start by saying there should be no switching:
			      shouldSwitch = false;
			      /* Get the two elements you want to compare,
			      one from current row and one from the next: */
			      x = rows[i].getElementsByTagName("TD")[n];
			      y = rows[i + 1].getElementsByTagName("TD")[n];
			      /* Check if the two rows should switch place,
			      based on the direction, asc or desc: */
			      if (dir == "asc") {
			        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
											          // If so, mark as a switch and break the loop:
											          shouldSwitch = true;
											          break;
											        }
										      } else if (dir == "desc") {
																	        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
			          // If so, mark as a switch and break the loop:
			          shouldSwitch = true;
			          break;
			        }
			      }
			    }
			    if (shouldSwitch) {
			      /* If a switch has been marked, make the switch
			      and mark that a switch has been done: */
			      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
			      switching = true;
			      // Each time a switch is done, increase this count by 1:
			      switchcount ++;
			    } else {
			      /* If no switching has been done AND the direction is "asc",
			      set the direction to "desc" and run the while loop again. */
			      if (switchcount == 0 && dir == "asc") {
			        dir = "desc";
			        switching = true;
			      }
			    }
			  }
			}
				</script>
<div class="container">
  
  <br>

  <div class="row">

   <ul id="navigation" class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="nav-songs-albums" data-toggle="tab" href="#songs_albums">Songs/Albums (1)</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="nav-youtubedl" data-toggle="tab" href="#youtubedl">Youtube-dl (2)</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="nav-spotify-playlists" data-toggle="tab" href="#spotify-playlists">Spotify Playlists (3)</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="nav-deezer-playlists" data-toggle="tab" href="#deezer-playlists">Deezer Playlists (4)</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="nav-file-downloads" href="downloads/" target="_blank" >Files (5)</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="nav-debug-log" data-toggle="tab" href="#debug">Debug (6)</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="nav-task-queue" data-toggle="tab" href="#queue">Queue (7)</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="nav-blogs" data-toggle="tab" href="#blogs">Release Blogs (8)</a>
    </li>
  </ul>
  </div>   <!-- end row -->

  <!-- Tab panes -->
  <div class="tab-content">
    
     <div id="songs_albums" class="container tab-pane active">
         <br>
         {% if deezer_is_working %}
         <audio src="" controls style="float:right" id="audio_tag"></audio>
         <h3>Download songs and albums</h3>
         <div class="input-group">
             <input type="text" class="form-control" id="songs-albums-query" placeholder="Search for ..." />
                &nbsp;
             <span class="input-group-btn">
                 <button type="button" class="btn btn-info" id="search_track">Search Track</button>
                 <button type="button" class="btn btn-info" id="search_album">Search Album</button>
             </span>
         </div>
    
         <table id="results" class="table">
            <thead>
                <tr>
                    <th onclick="sortTable(0, 'results')">Artist</th>
                    <th onclick="sortTable(1, 'results')">Title</th>
                    <th onclick="sortTable(2, 'results')">Album</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
         </table>
         {% else %}
        <p>Deezer download is currently broken. Someone probably needs to insert a new session ID.</p>
         {% endif %}
     </div> <!-- end div tab songs/albums -->

            
     <div id="youtubedl" class="container tab-pane fade">
         <br>
         <h3>Download stuff via youtube-dl</h3>
         <div class="input-group">
             <input type="text" class="form-control" id="youtubedl-query" placeholder="Download audio from YouTube, Invidious, Vimeo, Soundcloud, YouPorn, ... " />
                &nbsp;
         </div>
         <br>
                 <span class="input-group-btn">
                     <button type="button" class="btn btn-info" id="yt_download_play">Download & Play</button>
                     <button type="button" class="btn btn-info" id="yt_download">Download</button>
                     <button type="button" class="btn btn-info" onclick="$('#youtubedl-query').val('')" >Clear</button>
                 </span>
     </div> <!-- end div tab youtube-dl -->
    

     <div id="spotify-playlists" class="container tab-pane fade">
       <br>
       <h3>Download Spotify playlist</h3>
       <div class="input-group">
           <input type="text" class="form-control" id="spotify-playlist-name" placeholder="name of spotify playlist" />
           &nbsp;
           <input type="text" class="form-control" id="spotify-playlist-url" placeholder="url or id of the playlist" />
           &nbsp;
       </div>
       <br>
       <div class="input-group">
               <span class="input-group-btn">
                   <button type="button" class="btn btn-info" id="spotify_download_play">Download & Play</button>
                   <button type="button" class="btn btn-info" id="spotify_download">Download</button>
                   <button type="button" class="btn btn-info" id="spotify_zip">Give me a zip</button>
                   <button type="button" class="btn btn-info" onclick="$('input[id^=\'spotify\']').val('')" >Clear</button>
               </span>
       </div>
     </div> <!-- end div tab spotify playlists -->



     <div id="deezer-playlists" class="container tab-pane fade">
       <br>
       <h3>Download Deezer playlist</h3>
       <div class="input-group">
           <input type="text" class="form-control" id="deezer-playlist-url" placeholder="url or id of the playlist" />
           &nbsp;
       </div>
       <br>
       <div class="input-group">
               <span class="input-group-btn">
                   <button type="button" class="btn btn-info" id="deezer_download_play">Download & Play</button>
                   <button type="button" class="btn btn-info" id="deezer_download">Download</button>
                   <button type="button" class="btn btn-info" id="deezer_zip">Give me a zip</button>
                   <button type="button" class="btn btn-info" onclick="$('#deezer-playlist-url').val('')" >Clear</button>
               </span>
       </div>
     </div> <!-- end div tab deezer playlists -->


     <div id="debug" class="container tab-pane fade">
       <br>
       <h3>Debug</h3>
        <div class="form-group">
           <textarea readonly class="form-control" id="ta-debug-log"></textarea>
        </div> <!-- end div textares -->
     </div> <!-- end div tab debug -->
     
    <div id="queue" class="container tab-pane fade">
      <br>
      <h3>Queue</h3>
       
      <table id="task-list" class="table">
        <thead>
            <tr>
                <th>Description</th>
                <th>Type</th>
                <th>ID/URL</th>
                <th>To Playlist</th>
                <th>As ZIP</th>
                <th>State</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
     </table>
    </div> <!-- end div tab queue -->
     
     <div id="blogs" class="container tab-pane fade">
         <br>
         {% if deezer_is_working %}
         <audio src="" controls style="float:right" id="audio_tag"></audio>
         <h3>Search for Blog Releases on Deezer</h3>
         <div class="input-group">
								 <select class="form-control" id="blog_select" placeholder="Choose Website">
										 <option value = "1">one</option>
								     <option value = "2">two</option>

								 </select>
             <select class="form-control" id="sub_blog_select" placeholder="Choose Category" /></select>
                &nbsp;
             <span class="input-group-btn">
                 <input type="text" id="filter_text" placeholder="Filter.."></input>
                 <button type="button" class="btn btn-info" id="search_blog">Search Blog..</button>
             </span>
         </div>
    
         <table id="results_blogs" class="table">
            <thead>
                <tr>
                    <th onclick="sortTable(0, 'results_blogs')">Release Name</th>
                    <th>Deezer Result</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
				 </table>
         {% else %}
        <p>Deezer download is currently broken. Someone probably needs to insert a new session ID.</p>
         {% endif %}
				 </div>
     </div> <!-- end div tab songs/albums -->
    <footer class="footer">
      <div class="container">
		<i class="fa fa-angellist" ></i> |
        <span class="text-muted">
			ctrl+m: focus search bar |
			Enter: search songs |
			Alt+Enter: search albums | 
			Ctrl+Shift+[1-8]: navigation | 
        </span>
        <a id="werbung" href="https://www.effektiv-spenden.org/spenden-tipps/warum-und-wie-ich-spende-gastbeitrag-christoph-hartmann/"><i class="fa fas fa-heart" title="ja, klick drauf." ></i> </a>

      </div>
    </footer>


<style>
html, body, .container, .tab-content, .tab-pane .form-group {
  height: 95%;
}
textarea.form-control {
  height: 95%;
}

#werbung:link, #werbung:visited, #werbung:hover, #werbung:active { color: red }

</style>
	

</div> <!-- end div container -->

</body>
</html>

